<html>
<head>
<script src="task1.js"></script>
<script src="handlebars-v4.0.5.js"></script>
<script src="jquery.js"></script>
<script id="generalscript" type="text/x-handlebars-template">
{{#each form}}
<lable>{{lable}}</lable>
<input type="text" name="{{id}}" > 
<br> <br>
{{/each}}
</script>
<script id="sscript" type="text/x-handlebars-template">
  <form id="sform" method="post">
  <div class="generalscript"></div>
  {{{course}}}
  </form>
  <button id="addbutton" onclick="add('sform','studentTable')"> Add </button>   <button id="updatebutton"> Update </button> <br>
  {{{stable}}}
  
</script>
<script id="escript" type="text/x-handlebars-template">
  <form id="eform" method="post">
  <div class="generalscript"></div>
  {{{salary}}}
  </form>
  <button id="addbutton" onclick="add('eform','employeeTable')"> Add </button>   <button id="updatebutton1"> Update </button> <br>
  {{{etable}}}</script>

<script src="template.js"></script>
<body onload="loadForm()">

<select id="selectBox" onchange="mainFunc();">
  <option value="student">student</option>
  <option value="employee">employee</option>
</select>
<br>
<br>

<div id="studentDiv", class="studentDiv">
</div>
<div id="employeeDiv", class="employeeDiv">
</div>  
</body>
</html>
