<div class="bs-example">
    <ul class="nav nav-tabs">
        <li> <a href="#/admin/home">Bundle Transit</a></li>
        <li ><a href="#/admin/bundleReached">Products Reached</a></li>
        <li><a href="#/admin/bundleTransported">Bundle Transported</a></li>
        <li ><a href="#/admin/delivery">Delivery</a></li>
        <li class="active"><a href="#/admin/addItem">Add Item</a></li>
        <li class="pull-right"><a href="#/logout">Logout</a></li>
    </ul>
    
</div>

<div ng-controller = "addItemController">
<div class="container-fluid">
   
		<div class="container-page">	
            <div class="col-sm-3"></div>			
			<div class="col-sm-6">
				<h3 class="dark-grey">Add Item</h3>
				
				<div class="form-group col-lg-6">
					<label>Product Id</label>
					<input type="" name="" ng-model="product.productId" class="form-control" id="" value="">
				</div>
				<div class="form-group col-lg-6">
					<label>Product Name</label>
					<input type="" name="" ng-model="product.productName" class="form-control" id="" value="">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Price</label>
					<input type="number" name="" ng-model="product.price" class="form-control" id="" value="">
				</div>
				<div class="form-group col-lg-6">
					<label>Weight</label>
					<input type="number" name="" ng-model="product.weight" class="form-control" id="" value="">
				</div>		
				<div class="form-group col-lg-12">
					<label>Description</label>
					<textarea rows="4.5" cols="50" class="form-control" ng-model="product.description" id="" value=""></textarea>
				</div>
				
				<div class="col-sm-12"><center>
                    <button ng-click = "addItem()" class="btn btn-primary">Add Item</button>   
                    </center>
				</div>	
				<div class="col-sm-12"><center>
					<br>
                    <font color="red">{{error}}</font>  
                    </center>
				</div>	
                	
                	
			
			</div>
            
            
		</div>
</div>
</div>
