<div class="bs-example">
    <ul class="nav nav-tabs">
        <li> <a href="#/admin/home">Bundle Transit</a></li>
        <li ><a href="#/admin/bundleReached">Products Reached</a></li>
        <li class="active"><a href="#/admin/bundleTransported">Bundle Transported</a></li>
        <li><a href="#/admin/delivery">Delivery</a></li>
        <li><a href="#/admin/addItem">Add Item</a></li>
        <li class="pull-right"><a href="#/logout">Logout</a></li>
    </ul>
    
</div>
<br><br>
<div ng-controller="bundleTransportedController">
  <div class="col-sm-9">

    <table  class="display table" width="100%" datatable="ng">
      <thead>
        <tr>
          <th>BundleId</th>
          <th>To</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in bundles">
          <td><a ng-click="showPrompt(x.bundleId)" data-toggle="modal" data-target="#myModal" >{{x.bundleId}}</a></td>
          <td>{{x.to}}</td>
        </tr>
      </tbody>
    </table>
     <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">BundleId #{{currentBundle}}</h4>
        </div>
        <div class="modal-body">
          <table id="myTable" class="display table" width="100%" datatable="ng">
      <thead>
        <tr>
          <th>ProductId</th>
          <th>UserId</th>
          <th>Destination</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in openBundle">
          <td>{{x.productId}}</a></td>
          <td>{{x.userId}}</td>
          <td >{{x.destination}}</a></td>
        </tr>
      </tbody>
    </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  </div>
</div>