<div class="bs-example">
    <ul class="nav nav-tabs">
        <li> <a href="#/admin/home">Bundle Transit</a></li>
        <li class="active"><a href="#/admin/bundleReached">Products Reached</a></li>
        <li><a href="#/admin/bundleTransported">Bundle Transported</a></li>
        <li><a href="#/admin/delivery">Delivery</a></li>
        <li><a href="#/admin/addItem">Add Item</a></li>
        <li class="pull-right"><a href="#/logout">Logout</a></li>
    </ul>
    
</div>

<br><br>
<div ng-controller="bundleReceivedController">
  <div class="col-sm-9">

    <table id="myTable" class="display table" width="100%" datatable="ng">
      <thead>
        <tr>
          <th><center>OrderId</center></th>
          <th><center>Destination</center></th>
          <th><center>Weight</center></th>
          <th><center>Options</center></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in orders">
          <td><center>{{x.orderId}}</center></td>
          <td><center>{{x.destination}}</center></td>
          <td><center>{{x.weight}}</center></td>
          <td ><center><a class="btn btn-primary" ng-click = 'addToBundle(x)'>Add To Bundle</a><center></td>
        </tr>
      </tbody>
    </table>


  </div>
  <div class="col-sm-3">
      <h4><font color="darkBlue">Bundle Details</font></h4>
      <table  width="100%" cellspacing="10">
      <thead>
        <tr>
          <th>OrderId</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in bundle">
          <td>{{x.orderId}}</td>
          <td ><a class="btn btn-danger" ng-click = 'removeFromBundle(x)'>Remove</a></td>
        </tr>
      </tbody>
    </table>
    <br><br><br>
    <div class="btn-group">
                <a data-toggle="dropdown" class="btn btn-default dropdown-toggle" >{{addBundles.toLocation}} <span class="caret"></span> </a>
                <ul   class="dropdown-menu bullet pull-center">
                  <li ng-repeat = "x in location" ng-click = "changeLocation(x)"><a>{{x}}</a></li>
                </ul>
              </div>
  
    <button class = "btn btn-primary" ng-click = 'addBundle()'>Transport</button>
    <font color="red">{{error}}</font>
    
  </div>

</div>