<div ng-controller="continueShoppingController">
    <div class="container-fluid">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
        
        <a href="#/user/trackOrder" class="btn btn-primary btn-lg " style="text-align :center; font-family:verdana; ">track Order</a>
        &nbsp;<a href="#/logout" class="btn btn-danger btn-lg " style="text-align :center; font-family:verdana;">logout</a>
    </div>
    </div>
    <br><br><br>
    Your order has been successfully registered.
    <div class="col-sm-12">
     <a ng-click = "continueShopping()" class="btn btn-success btn-lg  pull-right" >Continue Shopping</a>
     </div>   
</div>