<div class="bs-example">
    <ul class="nav nav-tabs">
        <li> <a href="#/admin/home">Bundle Transit</a></li>
        <li ><a href="#/admin/bundleReached">Products Reached</a></li>
        <li><a href="#/admin/bundleTransported">Bundle Transported</a></li>
        <li class="active"><a href="#/admin/delivery">Delivery</a></li>
        <li><a href="#/admin/addItem">Add Item</a></li>
        <li class="pull-right"><a href="#/logout">Logout</a></li>
    </ul>
    
</div>
<br><br>
<div ng-controller="deliveryController">
  <div class="col-sm-9">

    <table  class="display table" width="100%" datatable="ng">
      <thead>
        <tr>
          <th>OrderId</th>
          <th>UserId</th>
          <th>ProductId</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in orders">
          <td>{{x.orderId}}</td>
          <td>{{x.userId}}</td>
          <td>{{x.productId}}</td>
          <td ><a class="btn btn-primary" ng-click = 'deliver(x.orderId)'>Deliver</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>