<div ng-controller = "loginController">
<div class="container-fluid">
   
		<div class="container-page">	
            <div class="col-sm-3"></div>			
			<div class="col-sm-6">
				<h3 class="dark-grey">Login</h3>
				
				<div class="form-group col-lg-12">
					<label>Username</label>
					<input type="" name="" ng-model="page.login.userId" class="form-control" id="" value="">
				</div>
				<div class="form-group col-lg-12">
					<label>Password</label>
					<input type="password" name="" ng-model="page.login.password" class="form-control" id="" value="">
				</div>
                <div class="col-lg-12">
                    <button ng-click = "page.login.login()" class="btn btn-primary">Login</button>
                    <button ng-click = "page.login.register()" class="btn btn-primary">Register</button>
					<font color="red">{{error}}</font>
				</div>			
						
			
			</div>
            <div class="col-sm-3"></div>
            
		</div>
</div>
</div>

