<div ng-controller="placeOrderController">
    <div class="container-fluid">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
        
        <a href="#/user/trackOrder" class="btn btn-primary btn-lg " style="text-align :center; font-family:verdana; ">track Order</a>
        &nbsp;<a href="#/logout" class="btn btn-danger btn-lg " style="text-align :center; font-family:verdana;">logout</a>
    </div>
    </div>

    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Place Order</h2>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong><br>
    					{{user.name}}<br>
    					{{user.address.address}}<br>
    					{{user.address.city}}<br>
    					{{user.address.pincode}}<br><br>
                        <b>Ph: </b>{{user.mobile}}<br>
                        <b>Email: </b>{{user.email}}
    				</address>
    			</div>
    			<div class="col-xs-6 ">
    				<address>
    				<strong>Shipped To:</strong><br>
    					{{user.name}}<br>
    					{{user.address.address}}<br>
    					{{user.address.city}}<br>
    					{{user.address.pincode}}<br><br>
                        <b>Ph: </b>{{user.mobile}}<br>
                        <b>Email: </b>{{user.email}}
    				</address>
    			</div>
    		</div>
    		
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed" >
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
                                    <td class="text-center"><strong>Description</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
        							<td class="text-center"><strong>Quantity</strong></td>
        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
    								<td>{{product.productName}}</td>
                                    <td class="text-center" style="width: 300px; height : 200px"><div style ="width: 100%;height: 100%;margin: 0;padding: 0;overflow: auto;"><p class="text-justify">{{product.description}}</p></div></td>
    								<td class="text-center">{{product.price}}.00</td>
    								<td class="text-center">1</td>
    								<td class="text-right">{{product.price}}.00</td>
    							</tr>
                                
    						
    							<tr>
    								<td class="no-line"></td>
                                    <td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Total</strong></td>
    								<td class="no-line text-right">{{product.price}}.00</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>


 <div class="col-sm-12">
     <a ng-click = "placeOrder()" class="btn btn-success btn-lg  pull-right" >Place Order</a>
     </div>   
</div>

</div>
