<div ng-controller="registerController">
    <div class="container-fluid">

        <div class="container-page">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3 class="dark-grey">Registration</h3>

                <div class="form-group col-lg-6">
                    <label>Username</label>
                    <input type="" name="" ng-model="page.form.userId" class="form-control" id="" value="">
                </div>
                <div class="form-group col-lg-6">
                    <label>Full Name</label>
                    <input type="" name="" ng-model="page.form.name" class="form-control" id="" value="">
                </div>
                <div class="form-group col-lg-6">
                    <label>Password</label>
                    <input type="password" name="" ng-model="page.form.password" class="form-control" id="" value="">
                </div>

                <div class="form-group col-lg-6">
                    <label>Repeat Password</label>
                    <input type="password" name="" ng-model="page.form.retypePassword" class="form-control" id="" value="">
                </div>

                <div class="form-group col-lg-6">
                    <label>Email Address</label>
                    <input type="" name="" ng-model="page.form.email" class="form-control" id="" value="">
                </div>

                <div class="form-group col-lg-6">
                    <label>Mobile Number</label>
                    <input type="number" name="" ng-model="page.form.mobile" class="form-control" id="" value="">
                </div>
                <div class="form-group col-lg-6">
                    <label>Address</label>
                    <input type="" name="" ng-model="page.form.address.address" class="form-control" id="" value="">
                </div>
                <div class="form-group col-lg-6">
                    <label>city</label><br>
                    <div class="btn-group">
                        <a data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{page.form.address.city}} <span class="caret"></span> </a>
                        <ul class="dropdown-menu bullet pull-center">
                            <li ng-repeat="x in location" ng-click="changeLocation(x)"><a>{{x}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label>Pin Code</label>
                    <input type="" name="" ng-model="page.form.address.pincode" class="form-control" id="" value="">
                </div>
                <div class="form-group col-lg-6">
                    <br><font color="red">{{error}}</font><br><br>
                </div>
                <div class="col-sm-6">
                    <button ng-click="page.form.register()" class="btn btn-primary">Register</button>
                    <button ng-click="page.form.login()" class="btn btn-primary">Login</button>
                </div>


            </div>
            <div class="col-sm-3"></div>

        </div>
    </div>
</div>