<div ng-controller="trackingController">
    <div class="container-fluid">
        <div class="col-sm-9"></div>
        <div class="col-sm-3 pull-right">
        
        <a href="#/user/home" class="btn btn-primary btn-lg " style="text-align :center; font-family:verdana; ">Home</a>
        &nbsp;<a href="#/logout" class="btn btn-danger btn-lg " style="text-align :center; font-family:verdana;">logout</a>
    </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-12" ng-repeat="x in order">
            <h4> OrderId : {{x.orderId}}</h4>
            ProductName : <b>{{x.product.productName}}</b> <br>
            Price : <b>Rs. {{x.product.price}}.00</b>
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step" ng-repeat="y in x.tracking">
                        <button type="button" class="btn btn-success btn-circle">{{x.tracking.indexOf(y)+1}}</button>
                        <p>{{y}}</p>
                    </div>
                    <div class="stepwizard-step" ng-if="x.currentLocation != 'delivered'">
                     <div  ng-if="x.destination!=x.currentLocation">
                        <button type="button" class="btn btn-danger btn-circle">{{x.tracking.length+1}}</button>
                        <p>{{x.destination}}</p>
                    </div>
                    </div>
                    <div class="stepwizard-step" ng-if="x.currentLocation == 'delivered'">
                        <button type="button" class="btn btn-success btn-circle">{{x.tracking.length+1}}</button>
                        <p>Delivered</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>