<div ng-controller = "userHomeController">
	<div class="container-fluid">
        <div class="col-sm-9">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" ng-model = "keyValue" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
           
        </div>
       
	</div>
        </div>
    <div class="input-group col-sm-3"> 
        <a href="#/user/trackOrder" class="btn btn-primary btn-lg" style="text-align :center; font-family:verdana;font-size:18; line-height: 180%;">track Order</a>
           &nbsp;<a href="#/logout" class="btn btn-danger btn-lg" style="text-align :center; font-family:verdana;font-size:18; line-height: 180%;">logout</a>
       </div>
</div>
<br><br><br>
<div class="container-fluid">
  <div class="list-group">
    <a href="#/user/placeOrder/{{x.productId}}" class="list-group-item" ng-repeat = " x in products | filter : {productName:keyValue}">
      <h4 class="list-group-item-heading">{{x.productName}}</h4>
      <div class = "container-fluid">
      <div class = "col-sm-10">
      <p class="list-group-item-text">{{x.description}}</p>
      </div>
      <div class = "col-sm-1 pull-right">
          <p class="list-group-item-text"><b>Rs. {{x.price}}</b></p>
      </div>
      </div>
    </a>
    
  </div>
</div>
</div>