
   
   <center>
     <br>
    <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">User <span class="caret"></span> </button>
                <ul class="dropdown-menu bullet pull-center">
                  <li><a href="#/user/login">Login</a></li>
                  <li><a href="#/user/register">Register</a></li>
                </ul>
              </div>              <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Admin<span class="caret"></span> </button>
                <ul class="dropdown-menu bullet pull-center">
                  <li><a href="#/admin/login">Login</a></li>
                  <li><a href="#/admin/register">Register</a></li>
                </ul>
              </div>
   </center>
<div ng-controller = "welcomeController"></div>
