<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js">  </script>   
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
<script src="uijs.js"></script>

</head>
<body ng-app="my-app">
<div ng-controller="MainController">
    <form id="form1" method="post">
        User id : <input type="text" ng-model="userId" id="textUserId" ><br><br>
        Snippet id : <input type="text" ng-model="snippetId" id="textSnippetId" ><br><br>
        Code Snippet : <input type="text" ng-model="code" id="textCode" ><br><br>
        Language : <input type="text" ng-model="language" id="textLanguage" ><br><br>
    </form>
<button id="get" ng-click="get();">GET</button> <button id="post" ng-click="post();">POST</button>  <button id="put" ng-click="put();">PUT</button>  <button id="delete" ng-click="delete();">DELETE</button><br>      
<div 
    <br>
    <table>
    <tr> <td> Id </td><td> Language </td> <td> Code Snippet </td> <td> Date Created</td> <td>Date Modified</td></tr>
    <tr ng-repeat="x in response">
    <td>{{x.snippetId}}</td>
    <td>{{x.language}}</td>
    <td>{{x.codeSnippet}}</td>
    <td> {{x.dateCreated}}</td>
    <td>{{x.dateModified}}</td>
    </tr>
    </table>
    <h2>{{errorStatus}}</h2>
</div>
</body>
</html>